.nav_bar{
  width: 100%;
  column-gap: 20px;
  background-color: gray;
  list-style-type: none;
  display: flex;
  padding: 15px 25px;
  margin: 0;
}

.posts_list{
  display: flex;
  justify-content: space-between;
  color: deeppink;
}

